.lastcheck{
    width: 300px;
    margin: auto;
    .title{
        text-decoration: underline;
        text-align: center;
    }
    .btns *{
        margin: 6px 14px;
        width: 120px;
    }
    .comment p{
        text-align: left;
    }
    .input{
        width: 100%;
        height: 80px;
        padding: 6px 8px;
    }
}